<!doctype html>
<html>

<head>
  <title>Fleurimond Vending</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>

          <% if (user.local.email) { %>
            <p>
              <strong>id</strong>:
              <%= user._id %><br>
                <strong>email</strong>:
                <%= user.local.email %><br>
                  <strong>password</strong>:
                  <%= user.local.password %>
            </p>

            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
              <a href="/connect/local" class="btn btn-default">Connect Local</a>
              <% } %>

        </div>
      </div>
      <h2>Instructions:<h2>
          <span> Choose Your Snack</span>


        <h4></h4>

                  <section id="user-controls">
                    <input type="text" id="snack-input" placeholder="Type snack you want">
                    <button id="snack-submit">Buy My Snack</button>
                  </section>

                  <div id="vending-machine">
                    <section id="message">Buy Snacks!</section>
                    <div id="snack-collection">
                      <ul>
                        <li>
                          <img src="img/hiChew.png" class="snack" />
                        </li>
                        <li>
                          <img src="img/chesters.png" class="snack" />
                        </li>
                        <li>
                          <img src="img/fruitsnacks.png" class="snack" />
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <img src="img/saltedcarmel.png" class="snack" />
                        </li>
                        <li>
                          <img src="img/sunchips.png" class="snack" />
                        </li>
                        <li>
                          <img src="img/sunchips2.png" class="snack" />
                        </li>
                      </ul>

                      <ul>
                        <li>
                          <img src="img/starburst.png" class="snack" />
                        </li>
                        <li>
                          <img src="img/snickers.png" class="snack" />
                        </li>
                        <li>
                          <img src="img/skittles.png" class="snack" />
                        </li>
                      </ul>
                    </div>

                    <section id="snack-purchases">
                    </section>


</div>

<script src="main.js"></script>

</body>
</html>